body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    .container {
        width: 328px;
        margin: 0 auto;
    }

    button, input {
        font-family: 'Poppins', sans-serif;
    }
}

body.dark {
    background-color: $dark-body-background;
    
    button, input {
        color: $dark-word-color-1;
    }
}

body.light {
    background-color: $light-body-background;

    button, input {
        color: $light-word-color-1;
    }
}

@media only screen and (min-width: 600px) {
    body {
        .container {
            width: 576px;
        }
    }   
}

@media only screen and (min-width: 768px) {
    body {
        .container {
            width: 704px;
        }
    }   
}

@media only screen and (min-width: 992px) {
    body {
        #root {
            display: flex;
        }
    }
}