// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$bookmark-btn-background-active: rgb(255, 255, 0);
$delete-list-btn-background: rgb(255, 0, 0);

// Dark theme
$dark-add-list-btn-background: rgb(43, 25, 161);
$dark-add-list-btn-background-hover: linear-gradient(to left, rgb(43, 25, 161), rgb(110, 26, 122));
$dark-body-background: rgb(22, 22, 34);
$dark-checkbox-background: rgb(190, 190, 190);
$dark-checkbox-border: rgb(70, 70, 70);
$dark-checkbox-background-complete: rgb(43, 25, 161);
$dark-checkbox-border-hover: rgb(0, 240, 240);
$dark-input-background: rgb(35, 40, 60);
$dark-menu-background: rgb(0, 0, 0);
$dark-menu-list-background-hover: rgb(40, 40, 40);
$dark-navbar-background: linear-gradient(to right, rgb(43, 25, 161), rgb(110, 26, 122));
$dark-statistic-background: rgb(35, 40, 60);
$dark-statistic-border: rgb(70, 70, 70);
$dark-sort-btn: rgb(0, 240, 240);
$dark-task-background: rgb(35, 40, 60);
$dark-task-border: rgb(70, 70, 70);
$dark-word-color-1: rgb(255, 255, 255);
$dark-word-color-2: rgb(0, 0, 0);

// Light theme