// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$add-list-btn-background: rgb(43, 25, 161);
$menu-background: rgb(0, 0, 0);
$navbar-background: linear-gradient(to right, rgb(43, 25, 161), rgb(110, 26, 122));
$word-color-1: rgb(255, 255, 255);