main {
    min-height: 100vh;
    padding: 7.5rem 0;

    .list-content {
        display: none;

        .add-task {
            .container {
                .heading {
                    margin-bottom: 1rem;
                    display: flex;
                    align-items: center;

                    h1 {
                        margin-right: 1rem;
                        font-size: 1.25rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .tool {
                        display: flex;
                        align-items: center;

                        button {
                            height: 25px;
                            width: 25px;
                            border: none;
                            border-radius: 5px;
                        }

                        .bookmark {
                            background: transparent url("../images/icon-yellow-star.svg") no-repeat center;
                            background-size: 70%;
                        }

                        .bookmark.active {
                            background: $bookmark-btn-background-active url("../images/icon-white-star.svg") no-repeat center;
                            background-size: 70%;
                        }

                        .delete {
                            margin-left: 0.25rem;
                            background: $delete-list-btn-background url("../images/icon-trash-can.svg") no-repeat center;
                            background-size: 50%;
                        }
                    }
                }

                .input-task {
                    position: relative;

                    button {
                        height: 100%;
                        width: 3.5rem;
                        background: transparent url("../images/icon-white-plus.svg") no-repeat center;
                        background-size: 50%;
                        border: none;
                        border-radius: 5px;
                        position: absolute;
                        left: 0;
                    }

                    input {
                        width: 100%;
                        padding: 1rem 0 1rem 3.5rem;
                        border: none;
                        border-radius: 5px;
                        font-size: 1rem;
                        outline: none;
                    }
                }
            }
        }

        .task-section {
            margin: 2.5rem 0;

            .container {
                ul {
                    li {
                        min-height: 58px;
                        display: grid;
                        grid-template-columns: auto 1fr;

                        .checkbox {
                            grid-column: 1;
                            height: 100%;
                            width: 3.5rem;
                            position: relative;
                        }

                        .checkbox:before {
                            content: "";
                            height: 20px;
                            width: 20px;
                            border-radius: 100px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        .task-text {
                            grid-column: 2;
                            position: relative;
                            overflow: hidden;

                            p {
                                padding: 1rem 3.5rem 1rem 0;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            input {
                                height: 100%;
                                width: 100%;
                                padding: 1rem 0;
                                border: none;
                                display: none;
                                font-size: 16px;
                                outline: none;
                                position: absolute;
                                left: 0;
                                top: 0;
                            }
                        }

                        .task-text.edit {
                            input {
                                display: block;
                            }
                        }

                        .task-btn {
                            grid-column: 3;
                            display: flex;
                            align-items: center;

                            button {
                                height: 20px;
                                width: 20px;
                                margin-right: 1rem;
                                border: none;
                            }

                            .update-task {
                                background: url("../images/icon-pen.svg") no-repeat center;
                                background-size: contain;
                            }

                            .delete-task {
                                background: url("../images/icon-close.svg") no-repeat center;
                                background-size: contain;
                            }
                        }
                    }

                    li:nth-child(1) {
                        border-radius: 5px 5px 0 0;
                    }

                    li:hover {
                        .task-text {
                            p {
                                padding-right: 0;
                                white-space: normal;
                            }
                        }
                    }

                    li.completed {
                        .task-text {
                            p {
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }

        .list-statistic {
            .container {
                padding: 1rem 2rem;
                border-radius: 0 0 5px 5px;

                button {
                    background-color: transparent;
                    border: none;
                    transition: 0.2s;
                }

                button:hover {
                    font-size: 18px;
                    transition: 0.2s;
                }

                .sort {
                    width: 16rem;
                    margin: 0 auto 1.5rem;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

    .list-content.open {
        display: block;
    }
}

main.dark {
    color: $dark-word-color-1;

    .list-content {
        .add-task {
            .container {
                .input-task {
                    box-shadow: 0 10px 15px 0 black;

                    input {
                        background-color: $dark-input-background;
                    }

                    input::placeholder {
                        color: $dark-word-color-1;
                    }
                }
            }
        }

        .task-section {
            .container {
                ul {
                    box-shadow: 0 10px 15px 0 black;

                    li {
                        background-color: $dark-task-background;
                        border: $dark-task-border solid 1px;

                        .checkbox:before {
                            background-color: $dark-checkbox-background;
                            border: $dark-checkbox-border solid 1px;
                        }

                        .task-text {
                            input {
                                background-color: $dark-task-background;
                            }
                        }
                    }

                    li:hover {
                        .checkbox:before {
                            border: $dark-checkbox-border-hover solid 1px;
                        }
                    }

                    li.completed {
                        .checkbox:before {
                            background-image: url("../images/icon-check.svg"), $dark-checkbox-background-complete;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 50%, 100%;
                            border: $dark-checkbox-border-hover solid 1px;
                        }

                        .task-text {
                            p {
                                color: $dark-word-color-2;
                            }
                        }
                    }
                }
            }
        }

        .list-statistic {
            .container {
                background-color: $dark-statistic-background;
                border: $dark-statistic-border solid 1px;
                box-shadow: 0 10px 15px 0 black;

                button:hover, button.active {
                    color: $dark-sort-btn;
                }
            }
        }
    }
}

main.light {
    color: $light-word-color-1;

    .list-content {
        .add-task {
            .container {
                .input-task {
                    box-shadow: 0 10px 15px 0 grey;

                    input {
                        background-color: $light-input-background;
                    }

                    input::placeholder {
                        color: $light-word-color-1;
                    }
                }
            }
        }

        .task-section {
            .container {
                ul {
                    box-shadow: 0 10px 15px 0 grey;

                    li {
                        background-color: $light-task-background;
                        border: $light-task-border solid 1px;

                        .checkbox:before {
                            background-color: $light-checkbox-background;
                            border: $light-checkbox-border solid 1px;
                        }

                        .task-text {
                            input {
                                background-color: $light-task-background;
                            }
                        }
                    }

                    li:hover {
                        .checkbox:before {
                            border: $light-checkbox-border-hover solid 1px;
                        }
                    }

                    li.completed {
                        .checkbox:before {
                            background-image: url("../images/icon-check.svg"), $light-checkbox-background-complete;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 50%, 100%;
                            border: $light-checkbox-border-hover solid 1px;
                        }

                        .task-text {
                            p {
                                color: $light-word-color-2;
                            }
                        }
                    }
                }
            }
        }

        .list-statistic {
            .container {
                background-color: $light-statistic-background;
                border: $light-statistic-border solid 1px;
                box-shadow: 0 10px 15px 0 grey;

                button:hover, button.active {
                    color: $light-sort-btn;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    main {
        max-height: 100vh;
        width: 100%;
        overflow-y: auto;

        .list-content {
            .container {
                width: 544px;
            }

            .task-section {
                .container {
                    ul {
                        li {
                            .task-btn {
                                display: none;
                            }
                        }
    
                        li:hover {
                            .task-btn {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }
}