.menu-toggler {
    height: 30px;
    width: 30px;
    background: url("../images/icon-menu-toggler.svg") no-repeat center;
    background-size: contain;
    border: none;
    position: fixed;
    left: 25px;
    top: 25px;
    z-index: 20;
}

.menu-toggler.active {
    background: url("../images/icon-close.svg") no-repeat center;
    background-size: contain;
}

nav {
    height: 5rem;
    width: 100%;
    background-image: $dark-navbar-background;
    position: fixed;
    z-index: 10;

    .container {
        width: 100%;
        position: relative;

        .change-theme {
            height: 30px;
            width: 30px;
            border: none;
            position: absolute;
            right: 25px;
            top: 25px;
        }

        .change-theme.dark {
            background: url("../images/icon-sun.svg") no-repeat center;
            background-size: contain;
        }

        .change-theme.light {
            background: url("../images/icon-moon.svg") no-repeat center;
            background-size: contain;
        }
    }

    #menu {
        min-height: calc(100vh - 5rem);
        width: 100%;
        padding-top: 1.25rem;
        background-color: $dark-menu-background;
        position: absolute;
        left: -100%;
        top: 5rem;
        transition: 0.4s;

        .input-list {
            width: 328px;
            margin: 0 auto 1.25rem;
            display: flex;

            button {
                width: 30%;
                padding: 0.75rem 0;
                background-color: $dark-add-list-btn-background;
                border: none;
            }
    
            button:hover {
                background-color: transparent;
                background-image: $dark-add-list-btn-background-hover;
            }
    
            input {
                width: 70%;
                padding: 0.75rem 1.75rem;
                border: none;
                color: $dark-word-color-2 !important;
                outline: none;
            }
        }

        ul {
            max-height: 75vh;
            overflow-y: auto;

            li {
                a {
                    height: 100%;
                    padding: 1rem 0 1rem 5rem;
                    color: $dark-word-color-1;
                    display: block;
                    position: relative;

                    span {
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        right: 5rem;
                        top: 50%;
                        transform: translate(0, -50%);
                    }

                    span.active {
                        background: url("../images/icon-yellow-star.svg") no-repeat center;
                        background-size: contain;
                    }
                }
            }

            li:hover {
                background-color: $dark-menu-list-background-hover;
            }
        }
    }

    #menu.active {
        left: 0;
        transition: 0.4s;
    }
}

@media only screen and (min-width: 992px) {
    .menu-toggler {
        position: absolute;
    }

    nav {
        width: 400px;
        left: -100%;
        transition: 0.4s;

        .container {
            width: 400px;

            .change-theme {
                right: 25px;
            }
        }

        #menu {
            width: 400px;
        }
    }

    nav.active {
        width: 400px;
        position: relative;
        left: 0;
        transition: 0.4s;
    }
}